*{
    margin: 0;
    padding: 0;
    /* background-color:  rgb(42, 216, 131); */
}
body{
    
}
header{
    position:sticky;
    top: 0px;
}
.header-2{
    justify-content: left;


}
.header{
    background-color: rgb(23, 28, 34);
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

}
.logo{
    background-color: rgb(42, 216, 131);
    width: 100px;
    height: 30px;
    margin-left: 25px;
    text-align: center;
    color:rgb(32, 39, 47);
    border-radius: 5px;
    border: black 2px solid;
    box-shadow: black 1px 1px 1px 1px;
    padding-top: 10px;
}
.navbar{
    display: flex;
    margin-right: 25px;
    
}
nav a{
    text-decoration: none;
}
.nav-items{
    background-color: rgb(42, 216, 131);
    border: 2px black solid;
    width: 57px;
    height: 20px;
    margin: 2px;
    border-radius: 5px;
    color:rgb(23, 28, 34);
    text-align: center;
    box-shadow: black 1px 1px 1px 1px;
    text-decoration: none;
    
    
}
a:hover{
    color:white;
    text-decoration: none;
}
.talk{
    background-color: rgb(42, 216, 131);
    border: 2px black solid;
    width: 57px;
    height: 20px;
    margin: 2px;
    border-radius: 5px;
    color:rgb(23, 28, 34);
    text-align: center;  
    box-shadow: black 1px 1px 1px 1px;
    text-decoration: none;
}
.div-1{
    background-color: rgb(23, 28, 34);
    color:rgb(42, 216, 131);
    display:flex;
    justify-content:center;
    padding-top: 50px;
    flex-wrap: wrap;
}
.text{
    padding-left: 20px;

}
.image{
    border: solid  rgb(42, 216, 131) 2px;
    padding: 5px;
    margin-left: 100px;
    border-radius: 50px;
    margin-bottom: 20px;
} 
.div-2{
    background-color: rgb(32, 39, 47);
    padding: 50px;
    display:flex;
    justify-content: space-between;
}
 .div-2 img{
    border-radius: 50px;
}
.image-2{
    border:  rgb(42, 216, 131) solid;
    width:fit-content;
    height: fit-content;
    padding: 4px 4px 0px 4px;
    background-color: black;
    border-radius: 50px;
    margin-left: 200px;
}
.text-2{
    text-align:left;
    margin-right: 100px;
}
.footer{
    background-color:  rgb(23, 28, 34);
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    text-align: center;

}
.navbar-2{
    background-color: rgb(32, 39, 47);
    display: flex;
    justify-content: space-between;
    border:solid black 2px
}
.nav-items-2{ 
    background-color: rgb(42, 216, 131);
    border: 2px black solid;
    width: 57px;
    height: 20px;
    margin: 2px;
    border-radius: 5px;
    color:rgb(23, 28, 34);
    text-align: center;
    box-shadow: black 1px 1px 1px 1px;

}
.box-placing{
    background-color: rgb(32, 39, 47);
}
.box-div{
   display: flex;
   justify-content: space-between;
   padding: 50px;
   gap: 40px;


}
.box-div-1{
    background-color:  rgb(23, 28, 34);
    width: 400px;
    height:200px;
    margin-left: 150px;
    border-radius: 10px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 30PX;
    color:  rgb(42, 216, 131);
    

}
.box-div-2{
    background-color: rgb(23, 28, 34);
    width: 400px;
    height: 200px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 30PX;
    align-items: center;
    color:  rgb(42, 216, 131);


}
.box-div-3{
    background-color: rgb(23, 28, 34);
    width: 400px;
    height: 200px;
    margin-right: 150px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 30PX;
    align-items: center;
    gap: 20PX;
    color:  rgb(42, 216, 131);


    

}
.box-div-2 img{
    border-radius: 5px;
    
}

.body{

    padding: 100px;
    background-color: rgb(23, 28, 34);
}
.contact{
    background-color: rgb(32, 39, 47);
    padding-left: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form{
    background-color:  rgb(42, 216, 131);
    margin-top: 4rem;
    height: fit-content;
    padding: 1.5rem 2rem;
    border: 1.5px solid black;
    border-radius: 5px;
    width:fit-content;
    align-items: center;
    justify-content: space-around;
 
}
.d-1 input{
    height: 1.5rem;
    width: 16rem;
    margin-left:10px;
    margin-bottom: 20px;
    background-color: rgb(23, 28, 34);
    color: rgb(42, 216, 131);

}
.d-2 input{
    height: 1.5rem;
    width: 33.3rem;
    margin-top: 1rem;
    margin-left:10px;
    background-color: rgb(23, 28, 34);
    color:  rgb(42, 216, 131);
}
.d-3 input{
    height: 13rem;
    width: 33.3rem;
    margin-top: 1rem;
    margin-left:10px;
    background-color: rgb(23, 28, 34);
    color: rgb(42, 216, 131);
}
.d-4 a div{
    color:  rgb(42, 216, 131);
    background-color: rgb(23, 28, 34);
    margin-top:1rem;
    margin-left:10px;
    padding: 10px 20px;
    width: fit-content;
    height: fit-content;
    border: 2px solid #222222;
    transition: all 1s;

}
.d-4 a div:hover{
    letter-spacing: 5px;
    width: 4rem;
    text-decoration:none;
    background-color: #20272f;
    border: 2px solid #20272f;
}
.form-body{
    background-color:  rgb(42, 216, 131);
}
.contact-bar{
    background-color: rgb(23, 28, 34);
    text-align: center;
    color: rgb(42, 216, 131);
}
.projects{
    background-color: rgb(32, 39, 47);
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;


}
.img-background{
    background-color:  rgb(42, 216, 131);
    width: 410px;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-around;

}
@media only screen and (max-width: 768px) {

    [class*="portfolio-1" ] {
      width: 100%;
    }
  }






