*{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    

    /* background-color:  rgb(42, 216, 131); */
}
body{
    
}
header{
    position:sticky;
    top: 0px;
}
.header-2{
    justify-content: left;


}
.header{
    background-color: rgb(23, 28, 34);
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

}
.logo{
    background-color: rgb(42, 216, 131);
    width: 100px;
    height: 30px;
    margin-left: 25px;
    text-align: center;
    color:rgb(32, 39, 47);
    border-radius: 5px;
    border: black 2px solid;
    box-shadow: black 1px 1px 1px 1px;
    padding-top: 10px;
}
.navbar{
    display: flex;
    margin-right: 25px;
    
}
nav a{
    text-decoration: none;
    color: rgb(32, 39, 47);
}
.nav-items{
    background-color: rgb(42, 216, 131);
    border: 2px black solid;
    width: 57px;
    height: 20px;
    margin: 2px;
    border-radius: 5px;
    color:rgb(23, 28, 34);
    text-align: center;
    box-shadow: black 1px 1px 1px 1px;
    text-decoration: none;
    
    
}
a:hover{
    color:white;
    text-decoration: none;
}
.talk{
    background-color: rgb(42, 216, 131);
    border: 2px black solid;
    width: 57px;
    height: 20px;
    margin: 2px;
    border-radius: 5px;
    color:rgb(23, 28, 34);
    text-align: center;  
    box-shadow: black 1px 1px 1px 1px;
    text-decoration: none;
}
.talk a{
    text-decoration: none;
}
.div-1{
    background-color: rgb(23, 28, 34);
    color:rgb(42, 216, 131);
    display:flex;
    justify-content:center;
    padding-top: 50px;
    flex-wrap: wrap;
}
.text{
    padding-left: 20px;

}
.image{
    border: solid  rgb(42, 216, 131) 2px;
    padding: 5px;
    margin-left: 100px;
    border-radius: 50px;
    margin-bottom: 20px;
} 
.div-2{
    background-color: rgb(32, 39, 47);
    padding: 50px;
    display:flex;
    justify-content: space-between;
}
 .div-2 img{
    border-radius: 50px;
}
.image-2{
    border:  rgb(42, 216, 131) solid;
    width:fit-content;
    height: fit-content;
    padding: 4px 4px 0px 4px;
    background-color: black;
    border-radius: 50px;
    margin-left: 200px;
}
.text-2{
    text-align:left;
    margin-right: 100px;
}
.footer{
    background-color:  rgb(23, 28, 34);
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    text-align: center;

}
.navbar-2{
    background-color: rgb(32, 39, 47);
    display: flex;
    justify-content: space-between;
    border:solid black 2px
}
.nav-items-2{ 
    background-color: rgb(42, 216, 131);
    border: 2px black solid;
    width: 57px;
    height: 20px;
    margin: 2px;
    border-radius: 5px;
    color:rgb(23, 28, 34);
    text-align: center;
    box-shadow: black 1px 1px 1px 1px;

}
.skills{
    background-color: rgb(23, 28, 34);
    text-align: center;
    color: rgb(42, 216, 131);
}
.box-placing{
    background-color: rgb(32, 39, 47);
}
.box-div{
   display: flex;
   justify-content: space-between;
   align-items: center;
   justify-content: center;
   padding: 50px;
   gap: 40px;
   /* padding-left: 150px; */


}
.box-div-1{
    background-color:  rgb(23, 28, 34);
    width:30%;
    height:200px;
    /* margin-left: 150px; */
    border-radius: 10px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 30PX;
    color:  rgb(42, 216, 131);
    

}
.box-div-2{
    background-color: rgb(23, 28, 34);
    width: 30%;
    height: 200px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 30PX;
    align-items: center;
    color:  rgb(42, 216, 131);


}
.box-div-3{
    background-color: rgb(23, 28, 34);
    width: 30%;
    height: 200px;
    /* margin-right: 150px; */
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 30PX;
    align-items: center;
    gap: 20PX;
    color:  rgb(42, 216, 131);


    

}
.box-div-2 img{
    border-radius: 5px;
    
}

.body{

    padding: 100px;
    background-color: rgb(23, 28, 34);
}
.contact{
    background-color: rgb(32, 39, 47);
    /* padding-left: 400px; */
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    background-color:  rgb(42, 216, 131);
    margin-top: 4rem;
    height: fit-content;
    padding: 1.5rem 2rem;
    border: 1.5px solid black;
    border-radius: 5px;
    width:fit-content;
    align-items: center;
    justify-content: space-around;
 
}
.d-1 input{
    height: 1.5rem;
    width: 16rem;
    margin-left:10px;
    margin-bottom: 20px;
    background-color: rgb(23, 28, 34);
    color: rgb(42, 216, 131);

}
.d-2 input{
    height: 1.5rem;
    width: 33.3rem;
    margin-top: 1rem;
    margin-left:10px;
    background-color: rgb(23, 28, 34);
    color:  rgb(42, 216, 131);
}
.d-3 input{
    height: 13rem;
    width: 33.3rem;
    margin-top: 1rem;
    margin-left:10px;
    background-color: rgb(23, 28, 34);
    color: rgb(42, 216, 131);
}
.d-4 a div{
    color:  rgb(42, 216, 131);
    background-color: rgb(23, 28, 34);
    margin-top:1rem;
    margin-left:10px;
    padding: 10px 20px;
    width: fit-content;
    height: fit-content;
    border: 2px solid #222222;
    transition: all 1s;

}
.d-4 a div:hover{
    letter-spacing: 5px;
    width: 4rem;
    text-decoration:none;
    background-color: #20272f;
    border: 2px solid #20272f;
}
.form-body{
    /* background-color:  rgb(42, 216, 131); */
}
.contact-bar{
    background-color: rgb(23, 28, 34);
    text-align: center;
    color: rgb(42, 216, 131);
}
.projects{
    background-color: rgb(32, 39, 47);
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content:space-around;
    padding-right: 50px;


}
.img-background{
    background-color:  rgb(42, 216, 131);
    width: 510px;
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-around;
    border-radius: 10px;

}
.img-background img{
    border-radius: 10px;
}
.footer-1 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    flex-wrap: wrap;
  }
  .footer-1 .kalam2 {
    color: #FFFFFF;
    padding-bottom: 40px;
  }
  .last {
    color: #BDBFC2;
    line-height: 25px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
  }
  .let {
    padding: 8px;
    background-color: #B1B493;
    border-radius: 3px;
    border: 1px solid black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  .link-1 {
    display: flex;
    padding: 5px;
    color: #919498;
    gap:10px;
  }
  .link-1 i{
    border: 1px white solid;
    border-radius: 10px;
    width:15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 10px;
  color: #000030;
  }
  .ww h2 {
    color: white;
    padding-bottom: 40px;
  }
  .awq h2 {
    color: white;
    padding-bottom: 25px;
  }
  .thiru {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    color: #919498;
  }
  .thiru i{
    color: orange;
  }
  .oo {
    display: flex;
    gap: 10px;
    padding-top: 10px;
  }
  .oo i {
    border-radius: 40px;
    width: 40px;
    height: 40px;
    color: black;
   background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
  }
  .oo i:hover{
  background-color: #000030;
  border: white 1px solid;
  color: orange;
  padding: 1px;
  }
  .fa-map {
    color: white;
  }
  .copy {
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-left: 160px;
  }
  .last-8{
    border-top: 1px white solid;
  color: #FFFFFF;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
  }
/* @media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        overflow: scroll;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        overflow: scroll;
    }

    .div-2 {
        flex-direction: column;
        align-items: center;
    }

    .box-div {
        flex-direction: column;
        align-items: center;
    }

    .box-div-1, .box-div-2, .box-div-3 {
        width: 90%; Full width on smaller screens
    }

    .projects {
        flex-direction: column;
        align-items: center;
    }

    .img-background {
        width: 100%;
    }
    .form{
        align-items: center;
        text-align: center;
    }
} */

@media (max-width: 768px) {
    
    .header-2{
        /* max-width: 160%;
        align-items: center;
width:100%;
flex-wrap: wrap; */
    }
    .image-2{
        margin-left: 0px;
        padding-right: 0px;
    }
    .take{
        margin-left: 50px;
    }
    .header{
        width: fit-content;
        flex-wrap: wrap;
    }
    .box-placing{
        width: 1380px;
    }
    .div-1{
        
        flex-direction: column;
        width: 108%;
        align-items: center;

        
    }
    .div-2{
        padding: 0px;
        flex-direction: column;
        width: 108%;
        align-items: center;
    }
    .box-div{
        flex-direction: column;
        justify-content: left;
        align-items: start;
        width: fit-content;
        padding: 0px;
        
    }
    .box-div-1{
        width: 70%;
        /* justify-content: space-between;
        justify-content: center;
        gap: 50px; */
        margin-left: 35px;
       padding-top: 20px;
        
    }
    .skills{
        margin-bottom: 20px;
    }
    .box-div-2{
        width: 70%;
        /* justify-content: space-between;
        justify-content: center;
        gap: 80px; */
        margin-left: 35px;
    }
    .box-div-3{
        width: 70%;
        /* justify-content: space-between;
        justify-content: center;
        gap: 40px; */
        margin-left: 35px;
        margin-bottom: 20px;
    }
    .projects{
        flex-direction: column;
        gap: 50px;
        width: fit-content;
        padding: 0px;
        margin-bottom: 30px;
    }
    .contact-bar{
        width: 700px;
    }
    .contact{
        justify-content: center;
        align-items: center;
    }
.form{
    width:80%
}
.form input{
    width: 70%;
}
.img{
   width:80%;
}
.img-background{
    width:90%;
}

}


